@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.gray-bg {
    background-color: #e5e5e5;
}

/* HOVER  */
.hvr-icon-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-icon-hang .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.hvr-icon-hang:active .hvr-icon, .hvr-icon-hang:focus .hvr-icon, .hvr-icon-hang:hover .hvr-icon {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fcdd44;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-underline-from-left:active:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:hover:before {
    right: 0
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform
}

.hvr-grow:active, .hvr-grow:focus, .hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

/* HOVER END */

/* ####################################################### */

/* Navbar  */
.navbar {
    background-color: #400361;
    letter-spacing: 0.7px;
}

.navbar .navbar-brand {
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: #ffffff;
}

.navbar .navbar-brand img {
    height: auto;
    width: 100px;

}

.navbar .dropdown-menu .dropdown-item {
    color: #000000;
}

.navbar .navbar-nav li a {
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* Banner */


/* TENTANG KAMI */
.tentang .title-box p {
    width: 100%;
    text-align: justify;
}

.tentang .row img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px;
    width: 550px;
    height: 300px;
}


.tentang .row .img {
    width: 50%;
}

/* Daftar Sewa */
.sewa .card-sewa .tm-section-header {
    margin: 70px 0px;
    overflow: hidden;
}

.sewa .card-sewa .card-box .card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 300px;
    aspect-ratio: 3/1;
}

.sewa .card-sewa .card-box .card-body {
    background-color: #F6F1F1;
    border-radius: 30px;
}

.sewa .card-sewa .card-box .card-body .btn {
    background-color: #000000;
    border: none;
}

.sewa .card-sewa .card-box img {
    border-radius: 20px;
}

/* Quote */


/* Swiper  */
.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.swiper .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    display: flex;
    color: rgb(0, 0, 0);
}

.swiper .swiper-slide .swiper-image {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    position: relative;
}

.swiper .swiper-slide .swiper-image img {
    border-radius: 20px;
    width: 550px;
}

.swiper .swiper-slide .card-title {
    color: rgb(0, 0, 0);
}

.swiper .swiper-slide .swiper-image .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-button-next {
    margin-right: 50px;
}

.swiper-button-prev {
    margin-left: 50px;
}

.fa-2xl {
    font-size: 2em;
    line-height: .03125em;
    vertical-align: -0.1875em;
}

/* HALAMAN TENTANG KAMI */
/* ################################################# */
.banner {
    background-size: cover;
    background-position: center;
}

.bg-banner-home {
    background-image: url("../img/img-mobil/banner-1.jpg");
}

.bg-banner-about {
    background-image: url("../img/img-mobil/banner-3.jpg");
}

.bg-banner-contact {
    background-image: url("../img/img-mobil/banner-2.jpg");
}


.transparent-bg {
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
    width: 100%;
    padding: 200px 0;
}

.text-banner h1 {
    font-size: 68px;
}

.tm-box .carousel-item img {
    width: auto;
    height: 250px;
}


.tm-box .tm-section-header {
    margin: 0;
}

.tm-box .carousel-inner .tm-section-header hr {
    border: #000 solid 2px;
}

.slides,
.slides>li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-social {
    text-align: right;
}

.tm-social-icon {
    color: #b1b1b1;
    font-size: 18px;
    padding: 0 10px;
}

#tiktok {
    color: #000000;
}

#fac {
    color: #1e549f;
}

#instagram {
    color: #E60023;
}

#goog {
    color: #4285F4;
}

.tm-box {
    margin: 100px 0;
}

.tm-box .col-12 .row {
    padding: 50px 20px;
}

.tm-teks {
    background-color: #fff;
}

.section-padding-bottom {
    padding-bottom: 60px;
}

.tm-section-header {
    margin-bottom: 70px;
    overflow: hidden;
}

.tm-teks .section-margin-top {
    margin-top: 100px;
}

.tm-teks .tm-section-heade .row {
    display: inline;
}

@media (min-width: 767px) and (max-width: 1199px) {
    .navbar a {
        font-size: 1.8rem;
    }

    .banner p {
        font-size: 2.5rem;
    }

    .tentang .title-box p {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 50px;
    }

    .tentang .title-box h2 {
        width: 100%;
        text-align: center;
        font-size: 3.5rem;
    }

    .tentang .row img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        border-radius: 20px;
        width: 100%;
        height: 250px;
    }

    .tentang .row .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .tentang .row img:hover {
        opacity: 0.5;
    }

    .tentang .row .middle:hover {
        opacity: 1;
    }

    .tentang .row .middle .lengkap {
        background-color: #878787;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
        text-decoration: none;
    }

    .tentang .row .image-box {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .tentang .tm-section-header {
        margin-top: 100px;
    }

    .sewa .heading {
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .sewa .heading h2 {
        font-size: 3.5rem;
    }

    .sewa .heading p {
        font-size: 2rem;
    }

    .sewa .card-sewa h5 {
        font-size: 2rem;
    }

    .sewa .card-sewa p {
        font-size: 1.5rem;
    }

    .sewa .card-sewa .card-icon {
        font-size: 1.8rem;
    }

    .sewa .card-sewa .btn {
        font-size: 1.5rem;
    }

    .sewa .tm-section-header h2 {
        font-size: 2.6rem;
    }

    .quote h2, .sewa .syarat-title {
        font-size: 3.5rem;
    }

    .quote p {
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
    }

    .swiper .swiper-slide img {
        width: 100% !important;
        height: 200px !important;
    }

    .swiper .swiper-slide .center {
        font-size: 2rem !important;
        color: #FFF;
    }

    .swiper .swiper-slide .card-title {
        margin-top: 50px;

    }

    .swiper .swiper-slide .card-title h2 {
        font-size: 3rem;
    }

    .swiper .swiper-slide .card-title p {
        font-size: 2rem;
        font-family: "Open Sans", sans-serif;
    }

    .tm-banner-inner {
        height: auto;
        margin: auto;
        position: absolute;
        left: 0px;
        bottom: 500 px;
        right: 0px;
    }

    /* About  */
    .banner .btn {
        font-size: 2rem;
    }

    .tm-box .tm-section-header h2 {
        font-size: 3rem;
    }

    .tm-box .carousel-item h1 {
        margin-top: 1.5em;
        text-align: center;
        font-size: 4rem;
    }

    .tm-box .carousel-item p {
        font-size: 2rem;
        text-align: justify;
        margin-top: 1rem;
    }

    /* Contact  */
    .tm-box {
        margin: 20px 0;
    }

    .tm-box .text-header {
        margin-bottom: 20px;
    }

    .tm-box .text-header h2 {
        font-size: 3rem;
    }

    .tm-box .text-header p {
        font-size: 1.5rem;
    }
}

@media (max-width: 766px) {
    .navbar .navbar-brand {
        font-size: 2rem;
    }

    .navbar .navbar-collapse a {
        font-size: 2rem;
    }

    .navbar .navbar-toggler-icon {
        font-size: 2rem;
    }

    .banner h1 {
        font-size: 4rem;
    }

    .banner p {
        font-size: 1.5rem;
    }

    .tentang h2 {
        font-size: 3rem;
    }

    .tentang p {
        margin: 2rem 0;
        font-size: 1.5rem;
    }

    .tentang .row .image-box {
        width: 250px;
    }

    .sewa .card-sewa .card {
        margin-left: 80px;
        margin-right: 80px;
    }

    .swiper .swiper-slide img {
        width: 100% !important;
        height: auto !important;
    }


    .swiper .swiper-slide .card-title {
        margin-top: 100px;

    }

    .swiper .swiper-slide .card-title h2 {
        font-size: 3rem;
    }

    .swiper .swiper-slide .card-title p {
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
    }


    /* About  */
    .banner .btn {
        font-size: 2rem;
    }

    .tm-box .tm-section-header h2 {
        font-size: 3rem;
    }

    .tm-box .carousel-item h1 {
        margin-top: 1.5em;
        text-align: center;
        font-size: 4rem;
    }

    .tm-box .carousel-item p {
        font-size: 2rem;
        text-align: justify;
        margin-top: 1rem;
    }

    /* Contact  */
    .tm-box {
        margin: 20px 0;
    }

    .tm-box .text-header {
        margin-bottom: 20px;
    }

    .tm-box .text-header h2 {
        font-size: 3rem;
    }

    .tm-box .text-header p {
        font-size: 1.5rem;
    }
}